@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss"
@import "variables.sass"

.movie
  margin-bottom: 1.5em

.movie-media
  cursor: pointer

.movie-header
  > div
    padding-right: 0 !important
    width: 96%
    > span
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

.movie-actions
  padding: 0 !important
  button
    margin: 0 !important
