.playControls
  padding: 14px 0 0 0
  li
    display: inline

    font-size: 17px

    &:not(:first-child)
      margin-left: 20px

    a
      span
        color: #777
        &:hover
          color: #333333
