$breakpoints: (xs: 576px, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

.media
  position: relative

  &:hover
    > div:nth-child(2)
      opacity: 1


.thumbnail
  display: block
  width: 100%

.overlayContainer
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.65)
  opacity: 0
  transition: opacity 300ms ease

  display: flex
  align-items: flex-end
  justify-content: space-between
  padding: 1em


.title
  font-size: 14px
  text-overflow: ellipsis
  overflow: hidden
  color: rgba(0, 0, 0, 0.85)
  font-weight: 500
  white-space: nowrap
  margin-bottom: -3px

.genre
  display: block
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.body
  padding: 4px 10px

.container
  display: flex
  flex-direction: column
  justify-content: space-between
  background: #fff
  border-radius: 4px
  transition: all .3s
  border: 1px solid #e9e9e9

  &:hover
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2)
    border-color: transparent
    transform: scale(1.02, 1.02)
    @media (min-width: map-get($breakpoints, 'sm'))
      transform: scale(1.01, 1.01)

.data
  display: flex
  justify-content: space-between

.rate
  font-size: 14px !important
  li
    margin-right: 3px
    cursor: inherit !important

.hidden
  opacity: 0

.progress
  height: 2px
  background-color: #108ee9
